#home {
  position: relative;
  // background-image: url("../../assets/Wave.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  border-radius: 0 0 50px 50px;
  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  font-family: Segoe UI;

  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 0rem 2rem 0;
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 450px) {
    padding-top: 6rem 1rem 2rem;
  }
}

.app__header-img {
  flex: 1.1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 100%;
  }

  .hero {
    position: relative;
    width: 100%;

    z-index: 1;
  }
  top: 0%;

  @media screen and (max-width: 1200px) {
    margin: 4rem 0;
  }
}

.hero {
  position: relative;
  max-width: 960px;
  width: 100%;
  top: 1rem;
}

.title {
  margin: 0 0 0.5rem 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 500;
  padding-bottom: 1px;
  font-family: Poppins;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0;
  }
  .title {
    font-size: 4rem;
  }
}

.heroTitle {
  position: relative;
  display: block;
  user-select: none;
}

.heroTitle_1::before {
  content: "Yash Sachan ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_1 {
  position: relative;
  display: block;
  width: fit-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(0, 112, 243, 1),
    rgba(0, 223, 216, 1)
  );
  animation: animation_1 4s infinite;
}

.heroTitle_2::before {
  content: "web developer ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_2 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(121, 40, 202, 1),
    rgba(255, 0, 128, 1)
  );
  animation: animation_2 4s infinite;
}

.heroTitle_3::before {
  content: "ui ux  ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_3 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 77, 77, 1),
    rgba(249, 203, 40, 1)
  );
  animation: animation_3 4s infinite;
}

@keyframes animation_1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animation_2 {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes animation_3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
.links {
  position: relative;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .leetcode {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    background: linear-gradient(
      135deg,
      #7d5620 0%,
      #5b4019 50%,
      #38280f 51%,
      #211709 100%
    );

    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .leetcode:hover {
    background: #5b3f19;
  }
  .github {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    background: linear-gradient(
      135deg,
      #272727 0%,
      #212121 50%,
      #171717 51%,
      #141414 100%
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .github:hover {
    background: #272727;
  }
  .linkedin {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    background: linear-gradient(
      135deg,
      #0b60bb 0%,
      #094483 50%,
      #062a52fc 51%,
      #031a33 100%
    );

    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .linkedin:hover {
    background: #0b5fbb;
  }
  svg {
    color: white;
    width: 2.5rem;
    height: 2.5rem;
  }
  @media screen and (max-width: 1200px) {
    p {
      font-size: 2rem;
    }
  }
}
.type {
  mix-blend-mode: normal;

  border: 1px solid #313bac;

  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  .p-text {
    text-align: center;
    font-size: 1rem;
  }
}

.cpp {
  position: absolute;
  opacity: 0.1;
  width: 10rem;
  top: 3%;
  left: 3%;
  @media screen and (max-width: 1200px) {
    left: 70%;
    opacity: 0.05;
  }
}
.react {
  position: absolute;
  opacity: 0.1;
  width: 10rem;
  top: 25%;
  right: 5%;
}
.next {
  position: absolute;
  opacity: 0.6;
  width: 10rem;
  height: 10rem;
  top: 30%;
  left: 35%;
  color: rgb(101, 101, 101);
  @media screen and (max-width: 1200px) {
    left: 5%;
    top: 85%;
  }
}
.next2 {
  position: absolute;
  opacity: 0.6;
  width: 10rem;
  height: 10rem;
  top: -20%;
  left: 75%;
  rotate: 130deg;
  color: rgb(101, 101, 101);
  @media screen and (max-width: 1200px) {
    left: 50%;
    top: -30%;
  }
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pent {
  width: 900px;
  position: absolute;
  right: -25%;
  top: 0%;
  @media screen and (max-width: 1200px) {
    right: -170%;
    top: -10%;
  }
}
.pent2 {
  width: 900px;
  position: absolute;
  right: 80%;
  top: -40%;
  @media screen and (max-width: 1200px) {
    right: 62%;
    top: -35%;
  }
}
