#home {
  position: relative;

  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-repeat: repeat;

  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  font-family: Segoe UI;

  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 0rem 2rem 0;
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 450px) {
    padding-top: 6rem 1rem 2rem;
  }
}

.app__header-img {
  flex: 1.1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 100%;
  }

  .hero {
    position: relative;
    width: 100%;

    z-index: 1;
  }
  top: -5%;

  @media screen and (max-width: 1200px) {
    margin: 4rem 0;
  }
}

.hero {
  max-width: 960px;
  width: 100%;
  margin: 1rem 0;
}

.title {
  margin: 0 0 0.5rem 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 500;
  padding-bottom: 1px;
  font-family: Poppins;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0;
  }
  .title {
    font-size: 4rem;
  }
}

.heroTitle {
  position: relative;
  display: block;
  user-select: none;
}

.heroTitle_1::before {
  content: "Yash Sachan ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_1 {
  position: relative;
  display: block;
  width: fit-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(0, 112, 243, 1),
    rgba(0, 223, 216, 1)
  );
  animation: animation_1 4s infinite;
}

.heroTitle_2::before {
  content: "web developer ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_2 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(121, 40, 202, 1),
    rgba(255, 0, 128, 1)
  );
  animation: animation_2 4s infinite;
}

.heroTitle_3::before {
  content: "ui ux  ";
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_3 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 77, 77, 1),
    rgba(249, 203, 40, 1)
  );
  animation: animation_3 4s infinite;
}

@keyframes animation_1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animation_2 {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes animation_3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
.links {
  position: relative;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .leetcode {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    background: linear-gradient(
      135deg,
      #7d56208b 0%,
      #5b40198f 50%,
      #38280f8e 51%,
      #21170991 100%
    );

    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .leetcode:hover {
    background: #5b3f19;
  }
  .github {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    background: linear-gradient(
      135deg,
      #27272788 0%,
      #21212190 50%,
      #17171790 51%,
      #14141489 100%
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .github:hover {
    background: #272727;
  }
  .linkedin {
    cursor: pointer;

    width: 10rem;
    padding: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: linear-gradient(
      135deg,
      #0b60bb93 0%,
      #09448393 50%,
      #062a5297 51%,
      #031a3399 100%
    );

    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      width: 4rem;
      height: 5rem;
      margin: 0.8rem;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .linkedin:hover {
    background: #0b5fbb;
  }
  svg {
    color: white;
    width: 2.5rem;
    height: 2.5rem;
  }
  @media screen and (max-width: 1200px) {
    p {
      font-size: 2rem;
    }
  }
}
.type {
  mix-blend-mode: normal;

  border: 0.5px solid rgba(159, 177, 184, 0.756);

  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  backdrop-filter: blur(1px);
  border-radius: 10px;
}
.cpp {
  position: absolute;
  opacity: 0.1;
  width: 10rem;
  top: 3%;
  left: 3%;
  @media screen and (max-width: 1200px) {
    left: 70%;
    opacity: 0.05;
  }
}
.react {
  position: absolute;
  opacity: 0.1;
  width: 10rem;
  top: 25%;
  right: 5%;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.next {
  position: absolute;
  opacity: 0.5;
  width: 10rem;
  height: 10rem;
  top: 40%;
  left: 35%;
  color: rgb(101, 101, 101);
  @media screen and (max-width: 1200px) {
    left: 5%;
    top: 85%;
  }
}

.blob {
  position: fixed;
  top: 20%;
  width: 500px;
  height: 500px;
  background: linear-gradient(180deg, rgb(99, 47, 255) 31.77%, #3300ff 100%);

  -webkit-animation: move 15s infinite alternate;
  animation: move 7s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(400px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(400px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
.side-text {
  color: white;
  font-family: Poppins;
  color: transparent;
  -webkit-text-stroke: 3px #cdc9c272;
  text-shadow: none;
  font-size: 10rem;
  font-weight: 700;
  position: fixed;

  transform: rotate(270deg);
  right: -5%;
  bottom: 20%;
  @media screen and (max-width: 1200px) {
    font-size: 6rem;
    bottom: 30%;
  }
}
