.app {
  pointer-events: painted;
  background-color: var(--primary-color);
  font-family: var(--font-base);
  overflow: hidden;
  scroll-behavior: smooth;
}
.circle-box {
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.light {
  background-color: #edf2f8;

  h2,
  h1,
  p {
    color: black;
  }
  .chatbot {
    background-color: rgb(227, 231, 239);
    color: black;
  }
  .icon {
    color: #100d25;
  }
  .app__social {
    div {
      background-color: rgba(213, 213, 216, 0.36);

      svg {
        color: #100d25;
      }
    }
  }
  .Modal {
    background-color: rgba(218, 214, 255, 0.195);
    box-shadow: 0px 1px 0px 1.5px rgba(0, 37, 50, 0.448);
  }
  .app__header-badge {
    .badge-cmp,
    .tag-cmp {
      background-image: none;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(14px);
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    }
  }
  .app__header-circles {
    div {
      backdrop-filter: blur(14px);
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
    }
  }
  .introduction {
    box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
    span {
      color: #100d25;
    }
    background-color: rgb(227, 231, 239);
    backdrop-filter: blur(14px);
  }
  .app__work-portfolio {
    .app__work-item {
      background-color: rgb(237, 242, 258);
      box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
      &:hover {
        background-color: rgb(237, 242, 258);

        background-image: linear-gradient(
          #b694ff58,
          rgba(145, 211, 255, 0.345)
        );
      }
    }
  }
  .app__work-tag {
    p {
      color: white;
    }
  }
  h4 {
    color: #100d25;
  }
  .app__skills-exp {
    background-color: rgb(227, 231, 239);
    backdrop-filter: blur(14px);
    box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
  }
  .app__testimonial-item {
    background-color: rgb(227, 231, 239);
    backdrop-filter: blur(14px);
    border: none;
    box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
    background-image: linear-gradient(#b694ff58, rgba(145, 211, 255, 0.345));
  }
  .p-text {
    color: black;
  }
  .bold-text {
    color: black;
  }

  .app__footer-form {
    background-color: rgb(227, 231, 239);
    backdrop-filter: blur(14px);
    box-shadow: 4px 4px 10px rgba(2, 1, 31, 0.3);
    div {
      input,
      textarea {
        background-color: #edf2f8;
      }
    }
    button {
      color: white;
    }
  }
  .app__skills-item {
    div {
      background-color: rgb(227, 231, 239);
      backdrop-filter: blur(14px);
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
      border: none;
    }
  }
  .app__skills-item {
    svg {
      color: rgba(15, 15, 55, 0.818);
    }
  }
  .app__header-circles {
    div {
      svg {
        color: rgba(15, 15, 55, 0.818);
      }
    }
  }
  .app__navbar-menu {
    div {
      background-color: #edf2f8;
      svg {
        background-color: #edf2f8;
      }
      ul {
        li {
          background-color: rgb(227, 231, 239);
          box-shadow: 3px 3px 5px rgba(2, 1, 31, 0.2);
          a {
            color: black;
          }
        }
      }
    }
  }
  .app__profile-item {
    background-color: rgb(227, 231, 239);
    box-shadow: 3px 3px 5px rgba(2, 1, 31, 0.3);
    .icon {
      .logo {
        color: rgba(15, 15, 55, 0.818);
      }
    }
  }
}
.app::-webkit-scrollbar {
  display: none;
}
.dark {
  background-color: #050816;
}
.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: white;
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: rgba(255, 255, 255, 0.901);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.507);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: white;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem 1rem 6rem 0.8rem;

  .insta {
    border-radius: 0 5% 40% 0%;
  }
  .twitter {
  }
  div {
    width: 42px;
    height: 44px;
    border-radius: 0 40% 5% 0;
    background-color: #100d25;
    margin: 0.15rem 0;
    border: 0.0001rem solid rgba(0, 229, 255, 0.448);
    box-shadow: 1px 0px 1px 0px rgba(0, 229, 255, 0.448);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 17px;
      height: 17px;
      color: rgba(255, 255, 255, 0.767);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  .github {
    border-radius: 0% 5% 5% 0;
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;
    box-shadow: 1px 0px 1px 0px rgba(0, 229, 255, 0.448);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
.line {
  margin: 2rem;
  height: 0.3rem;
}

.loading {
  display: flex;
  justify-content: center;
  background-size: auto;
  height: 100vh;
  .lottie {
    width: 100vh;
  }
}
