#testimonials {
  background-image: url("./m.svg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.bgc {
  width: 100%;
  background-color: rgba(0, 18, 33, 0.021);
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 0px 2px #313bac;
  border-radius: 10px;
}
.app__testimonial {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.app__testimonial-item {
  width: 60%;
  margin: 1rem;
  min-height: 320px;
  background: linear-gradient(
    135deg,
    #191438 0%,
    #100d25 50%,
    #05011c 51%,
    #0c0123 100%
  );
  box-shadow: 1px 0px 1px 0.6px rgba(0, 195, 255, 0.448);
  backdrop-filter: blur(30px);
  border-bottom: 10px solid rgba(0, 195, 255, 0.248);
  display: flex;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(157, 7, 7, 0.1);
  transition: all 0.3s ease-in-out;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  @media screen and (min-width: 2000px) {
    min-height: 450px;
    img {
      width: 150px;
      height: 150px;
    }
  }
  @media screen and (max-width: 850px) {
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.app__testimonial-content {
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  p {
    font-size: 1.25rem;
    line-height: 2rem;
    color: white;
    font-family: var(--font-base);
  }
  h4 {
    font-weight: 600;
    color: white;
    margin-top: 2rem;
  }
  h5 {
    font-weight: 400;
    color: wheat;
    margin-top: 5px;
  }
}
.app__testimonial-btns {
  flex-direction: row;
  margin-top: 1rem;
  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    svg {
      width: 20px;
      height: 20px;
      color: var(--secondary-color);
    }
    &:hover {
      background-color: var(--secondary-color);
      svg {
        color: var(--white-color);
      }
    }
  }
}
