#contact {
  position: relative;

  background-image: url(../../assets/Shapes.svg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.app__footer {
  margin-top: 2rem;
  flex: 1;
  width: 100%;
  flex-direction: column;
  background-color: rgba(0, 18, 33, 0.101);
  box-shadow: 1px 0px 1px 0.2px rgba(0, 195, 255, 0.448);
  backdrop-filter: blur(30px);
  border-radius: 10px;
}
.app__footer-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem;
  .app__footer-card {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(163, 12, 12, 0.333);
    transition: all 0.3s ease-in-out;
    .logos {
      width: 60px;
      height: 60px;
      margin: 0 0.8rem;
      color: rgb(144, 36, 36);
    }
    .mobile {
      color: rgb(4, 4, 114);
    }
    img {
      width: 65px;
      height: 65px;
      margin: 0 0.8rem;
    }
    p {
      font-weight: 600;
    }
    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 5px rgba(157, 63, 63, 0.421);
      width: 35%;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
    }
  }

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}
.app__footer-cards .app__footer-card:last-child {
  background-color: #0a788e7c;
}

.app__footer-form {
  background: linear-gradient(
    135deg,
    #191438 0%,
    #100d25 50%,
    #05011c 51%,
    #0c0123 100%
  );
  padding: 1rem;

  border-radius: 10px;
  width: 85%;
  flex-direction: column;
  margin: 2rem 6rem;
  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #dcf8fe;
    transition: all 0.3s ease-in-out;
    input,
    textarea {
      width: 100%;
      padding: 0.99rem;
      border: none;
      border-radius: 8px;
      background-color: #151030;
      font-family: var(--font-base);
      color: white;
      outline: none;
    }
    textarea {
      height: 170px;
    }
    &:hover {
      box-shadow: 0 0 25px rgba(13, 90, 124, 0.493);
    }
  }

  @media screen and (max-width: 760px) {
    width: 100%;
    margin: 1rem 0;
  }
}
button {
  color: white;
}
