.footer-end {
  border-radius: 40px;
  background: #313bac;

  width: 100%;
  border-radius: 10px;

  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
  position: relative;
  z-index: 500;
}
.footer-mid {
  border-radius: 40px;
  background: #313bac;
  box-shadow: 5px 5px 10px #2a3292, -5px -5px 10px #3844c6;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.end-text {
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  font-size: 1rem;
  color: white;
}
.box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-logo {
  margin-right: 1rem;
}
.mover {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: #2b38c6;
  box-shadow: 5px 5px 10px #2a3292, -5px -5px 10px #3844c6;
  border-radius: 50%;
  cursor: pointer;
}
.up-logo {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.733);
}
.top-text {
  text-align: center;
  color: rgba(216, 216, 216, 0.678);
}
