.Modal__back {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.856);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal {
  width: 70%;
  margin: 10%;
  height: 70%;

  border-radius: 15px 15px 0px 10px;
  background-color: #100d25;

  padding: 3.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Modal__text {
  margin: 1rem;
  background-color: rgb(49, 2, 130);
  color: white;
  padding: 1.5rem;
  width: 100%;
  text-align: center;

  border-radius: 10px;
  cursor: pointer;
  border: 4px solid rgb(49, 2, 130);
  box-shadow: 15px 15px 15px rgba(15, 0, 0, 0.29);
}
