.Modal__back {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100vh;

  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal {
  width: 80%;
  margin: 10% 5% 0 0;
  height: 50%;

  border-radius: 85px 15px 15px 15px;
  box-shadow: 0px 1px 0px 1px rgba(0, 195, 255, 0.448);
  background-color: rgba(8, 3, 21, 0.382);

  backdrop-filter: blur(100px);

  padding: 2.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @media screen and (min-width: 850px) {
    margin: 40% 10% 40% 60%;
  }
}
.Modal__text {
  margin: 0.5rem;
  background-color: rgb(49, 2, 130);
  color: white;
  padding: 1.5rem;
  width: 100%;
  text-align: center;

  border-radius: 10px;
  cursor: pointer;

  box-shadow: 15px 15px 15px rgba(15, 0, 0, 0.29);
  &:hover {
    box-shadow: 10px 10px 10px rgba(113, 56, 237, 0.115);
  }
}
a {
  text-decoration: none;
}
.Modes {
  display: flex;

  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.light__mode {
  background-color: rgb(84, 49, 144);
}
.darkmode {
  background-color: rgb(34, 1, 90);
}
